<html>
  <head>
    <title>teho</title>
    <meta charset='utf-8' />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Arimo|Roboto" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='Auth.js')}}"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <h1>teho</h1>
      </div>

      <div class="main-log">
        <h2>carol, you've had a great week!</h2>
        <h3>check out your data:</h3>
        <div class="chart-container">

        </div>

        <div class="label-container">
          <h3><span class="label">happiest day:</span> Thursday</h3>
          <h3><span class="label">calmest day:</span> Saturday</h3>
          <h3><span class="label">maximum downtime:</span> Monday &amp; Tuesday</h3>
        </div>
      </div>

      <div class="footer">
        <!-- THIS HAS TO TAKE US TO THE NEXT PAGE -->
        <a href="{{ url_for('index') }}"><button class="next">Home</button></a>

      </div>

    </div>
  </body>
</html>


