<html>
  <head>
    <title>teho</title>
    <meta charset='utf-8' />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Arimo|Roboto" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='Auth.js')}}"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <h1>teho</h1>
      </div>

      <div class="main">
        <h2>let's set up your teho!</h2>
        <h3>what time(s) of day do you want your downtime?</h3>
        <div class="checkboxes">
            <label class="check"> 
              <input type="checkbox" id="morning">
              Morning (5am - 11am)
              <span class="checkmark"></span>
            </label>

            <label class="check"> 
              <input type="checkbox" id="afternoon">
              Afternoon (11am-5pm)
              <span class="checkmark"></span>
            </label>

            <label class="check"> 
              <input type="checkbox" id="evening">
              Evening (5pm-11pm)
              <span class="checkmark"></span>
            </label>
        </div>

      </div>

      <div class="footer">
        <!--Add buttons to initiate auth sequence and sign out-->
        <button class="next" onclick="handleAuthClick()">Next ></button>
        <!-- <button id="signout-button" onclick="handleSignoutClick()">sign out</button>
        <button id="eventbutton" onclick="callEventAdd()">Add event to Calendar</button>
        <button id="timebutton" onclick="loadDayEvents()">get available times</button> -->

      </div>

    </div>
  </body>
</html>
